
{{#partial "content"}}

    <div class="title">
        <h1 class="text display-2" >Welcome to news Api!</h1>

    </div>
    <div class="about">
        <p>
            We the  importer, we are the best of the best when it comes in importation and exportation of your good.<br>
            we are located along Naivasha.
        </p>
    </div>


{{/partial}}

{{> layout.hbs}}